# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Nuxt PWA
sw.*

# IntelJ files
.idea

# System files
*.DS_Store

# Some other files
static/slider.*
