input[type="text"]
input[type="email"]
input[type="tel"]
  padding .6em .7em
  border 1px #d9d9d9 solid
  background-color #fff
  border-radius 2px
  font-size .9rem
  transition .3s
  -webkit-appearance none
  -moz-appearance none
  appearance none
  &:hover
    border-color #bbb

  &:focus
    border-color #999
    outline 0

input[type="submit"]
input[type="reset"]
input[type="button"]
button
  background none
  border 0
  color inherit
  font inherit
  line-height normal
  overflow visible
  padding 0
  -webkit-appearance none
  -moz-appearance none
  transition all .4s
  &:focus
    outline 0

  &:disabled
    background-color #999
    border-color #999
    color #f8f8f8

.button--green
  display inline-block
  margin-top .8em
  padding 10px 24px
  border 1px solid #00619F
  border-radius 4px
  color #00619F
  text-decoration none
  transition .2s

  &:hover
    color #fff
    background-color #00619F


